 {% load static %}
 <header class="header text-center">

<div class="container">
</div>
	    
        
	    <nav class="navbar navbar-expand-lg navbar-dark" >
           
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navigation" class="collapse navbar-collapse flex-column" >
				<div class="profile-section pt-3 pt-lg-0">
				    <img class="profile-image mb-3 rounded-circle mx-auto" src="{% static 'profile.png' %}" alt="image" >
					<h1 class="blog-name pt-lg-4 mb-0"><a href="{% url 'index' %}">Pratik Srivastva</a></h1>			
					
					<div class="bio mb-3"><br>Full-stack Web Developer<br><br><br><a href="{% url 'about' %}">Find out more about me</a></div><!--//bio-->
					<ul class="social-list list-inline py-3 mx-auto">
			            <li class="list-inline-item"><a href="https://www.instagram.com/srivastava__pratik__/"><i class="fab fa-instagram"></i></a></li>
			            <li class="list-inline-item"><a href="https://www.linkedin.com/in/pratik-srivastava-59bb63155/"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
			            <li class="list-inline-item"><a href="https://github.com/pratik343"><i class="fab fa-github-square"></i></a></li>
			        </ul><!--//social-list-->
			        <hr> 
				</div><!--//profile-section-->
				
				<ul class="navbar-nav flex-column text-left">
					<li 
                         {% if '/' == request.path %}
                            class="nav-item active"
                        {% else%}
                            class="nav-item" 
                            {% endif %}
                     >
					    <a class="nav-link" href="{% url 'index' %}"><i class="fas fa-home fa-fw mr-2"></i> Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					    <a class="nav-link" href="{% url 'posts' %}"><i class="fas fa-bookmark fa-fw mr-2"></i> Posts</a>
					</li>
					<li
                        
                         {% if 'about' in request.path %}
                            class="nav-item active"
                        {% else%}
                            class="nav-item" 
                            {% endif %}
                    >
					    <a class="nav-link" href="{% url 'about' %}"><i class="fas fa-user fa-fw mr-2"></i>About Me</a>
					</li>
				</ul>
				
				<div class="my-2 my-md-3">
			

			
				</div>
			</div>
		</nav>
    </header>