{% extends 'base.html' %}

{% block content %}

 <div class="main-wrapper">
	    	    
	    <article class="about-section py-5">
		    <div class="container"> 
		
			    <h2 class="title mb-3">Pratik Srivastava</h2>
			   
							    <p>I like to develop expertise in a number of areas over the course of my life and career.If you have an application you are interested in developing, a problem that needs solving or a project that needs rescuing, I'd love to help you with it.</p>
			   
			    <h5 class="mt-5">About The Blog</h5>
			    <p>This blog is running on django server where i can update posts and manage through django-admin panel.</p>
			    <h5 class="mt-5">My Skills and Experiences</h5>
			    <p><b>Web Development</b> <br>
					Web development is the work involved in developing a website for the Internet or an intranet. Web development can range from developing a simple single static page of plain text to complex web-based internet applications, electronic businesses, and social network services. <br>
					<br><br>
					<b>Django(Back-end)</b> <br>
						Django is an extremely popular and fully featured server-side web framework. It is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. I can help you out in django most efficent, effective, smooth code for developing web applications with custom feautres.<br><br>
						<b>PostgreSQL</b> <br>
						"Postgres" or “PostgreSQL” is the Open Source Relational Database system. Currently it is a very popular database. Millions of companies around the world use it. I can help you out to design a reliable, fast database for various uses such as web applicaton, mobile application etc.
						</p>
			    <h5 class="mt-5">Side Projects</h5>
			    <p>Blogging application</p>
			    
			    
		    </div>
	    </article><!--//about-section-->
		
	    
	    <section class="cta-section theme-bg-light py-5">
		    <div class="container text-center">
			    <h2 class="heading">Newsletter</h2>
			    <div class="intro">Welcome to my blog. Subscribe and get my latest blog post in your inbox.</div>
			    <form class="signup-form form-inline justify-content-center pt-3">
                    <div class="form-group">
                        <label class="sr-only" for="semail">Your email</label>
                        <input type="email" id="semail" name="semail1" class="form-control mr-md-1 semail" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
		    </div><!--//container-->
	    </section>

        </div>

{% endblock %}